<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Loggers>

        <!-- Hibernate -->
        <Logger name="org.hibernate" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root logger -->
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %msg%n"/>
        </Console>
    </Appenders>

</Configuration>